*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .4s linear;
}

h1{
    font-family: Arial;
    color: lightgray;
    text-align: center;
    padding: 2% 0% 2% 0%;
}

div{
    margin: 1% 5% 1% 5%;
}

.gallery{
    margin: 1% 5% 1% 5%;
}

img{
    width: 24.76%; 
}

img:hover{
    opacity: 0.3;
}

.middleBody{
    border: 1px solid lightgray;
}

section{
    margin-top: 2%;
    border: 10px solid lightgray;
    position:absolute;
}

.pad{
    padding:10px 60px 10px 10px;
}

.pad:hover{
    background-color: maroon;
    color: white;
}

p{
    padding: 80px 0px 100px 200px;
}

a{
    text-decoration: none;
}

.dummy{
    color: green;
}

.navigation{
    color: black;
}

.bottomBorder{
    border-bottom: 3px solid lightgray;
}

.footer{
    text-decoration: none;
    border:1px solid lightgrey;
    text-align: right;
    padding: 20px 0px 20px 0px;
}

.footerLinks{
    color:lightgray;
    padding: 0px 20px 0px 0px;
}

.footerLinks:hover{
    color: black;
}