div{
    margin-left: 30px;
    margin-bottom: 15px;
}

.box1, .box5{
    width: 90px;
}

.box1{
    border-top: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 20px solid pink;
    border-right: 20px solid pink;
    padding: 25px 60px 40px 40px;
    background-color: yellow;
}

.box234{
    float: left;
    border: 5px solid blue;
    background-color: aquamarine;
    font-weight: bold;

}

.box5{
    margin-top: 55px;
    border-top: 45px solid green;
    border-left: 45px solid green;
    border-bottom: 45px solid grey;
    border-right: 45px solid grey;
    text-align: left;
    padding: 30px 1px 30px 50px;
    background-color: lightgreen;
}