*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .4s linear;
}

div{
    margin: 30px;
    border: 1px solid black;
    padding: 30px;
    width: 436px;
    box-shadow: 1px 1px;
}

p{
    color: red;
}

span{
    font-weight: bold;
}

.blue{
    color: blue;
}   

.green{
    color: green;
}

table{
    border: 1px solid red;
}

th{
    background-color: red;
    color: white;
    font-weight: lighter;
}

td{
    border: 1px solid red;
}

td.course{
    color: red;
}